.blackHeader
	position: fixed
	top: 0
	left: 0
	background-color: wuf-black
	height: header-height; width: 100%
	z-index: 200

.topNavigation 
	width: 660px
	margin: 13px auto 0
	ul
		margin: 0
		padding: 0

	.menu-item
		list-style: none
		float: left
		width: 33%
		height: header-height
		text-align: center
		a
			display: block
			color: #fff
			height: 55px
			&:hover
				border: 0

		.menu-img 
			vertical-align: bottom

		.menu-logo
			margin-left: -14px

		&.active
			background-image: url(../img/currentNav.svg)
			background-position: center bottom
			background-repeat: no-repeat
			background-size: 24px 16px