.stories-container
	height 100%

.storie
	float left
	width 100%
	height 100%
	overflow auto

	.storie-title
		position absolute

	.storie-items-wrapper
		height 100%
		white-space nowrap

	.storie-item
		margin-top -17px
		display inline-block
		width 100%
		height 100%


		