//sizes
page-width = 960px
page-padding = 40px
inner-width = page-width - page-padding * 2
header-height = 68px
mobile-header-height = 50px

//colors
wuf-black = #111
grey = #666
transparent-grey = rgba(0, 0, 0, 0.02)

//breakpoints
mobile = "all and (max-width: 600px)"
small-mobile = "all and (max-width: 320px)"

	


//animations
@keyframes fadeIn
	0%
		opacity 0
	100%
		opacity 1
@keyframes pulse
	0%
		opacity 1
		transform: scale(1);
	50%
		opacity 0.4
		transform: scale(1.1);
	100%
		opacity 1
		transform: scale(1);

animate()
	-webkit-animation	arguments
	-moz-animation		arguments
	-o-animation		arguments
	animation			arguments