article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
table button,
table input {
  *overflow: auto;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Colaborate';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/ColabMed-webfont.eot");
  src: url("../fonts/ColabMed-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ColabMed-webfont.woff") format('woff'), url("../fonts/ColabMed-webfont.ttf") format('truetype'), url("../fonts/ColabMed-webfont.svg#colaborate-mediumregular") format('svg');
}
@font-face {
  font-family: 'Colaborate';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ColabLig-webfont.eot");
  src: url("../fonts/ColabLig-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ColabLig-webfont.woff") format('woff'), url("../fonts/ColabLig-webfont.ttf") format('truetype'), url("../fonts/ColabLig-webfont.svg#colaboratelightregular") format('svg');
}
@font-face {
  font-family: 'Colaborate';
  src: url("../fonts/ColabThi-webfont.eot");
  src: url("../fonts/ColabThi-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ColabThi-webfont.woff") format('woff'), url("../fonts/ColabThi-webfont.ttf") format('truetype'), url("../fonts/ColabThi-webfont.svg#colaborate-thinregular") format('svg');
  font-weight: 300;
  font-style: normal;
}
.flip-enter {
  transform: rotateX(90deg);
  transition: transform 0.2s 1s ease-out;
}
.flip-enter.flip-enter-active {
  transform: rotateX(0);
}
.flip-leave {
  transform: rotateX(0);
  transition: transform 0.2s 0.8s ease-in;
}
.flip-leave.flip-leave-active {
  transform: rotateX(90deg);
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-o-keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-moz-keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-o-keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
* {
  box-sizing: border-box;
}
body {
  color: #111;
  font-size: 19px;
  background: url("../img/bg.jpg");
  font-family: 'Colaborate', sans-serif;
  font-weight: 300;
  line-height: 1.3em;
}
@media all and (max-width: 600px) {
  body {
    font-size: 12px;
  }
}
h1,
h2,
h3,
h5,
h6 {
  font-weight: 300;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid #666;
}
.content {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 68px;
}
.App {
  height: 100%;
}
.inner-content,
.inner-storie {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 40px;
}
@media all and (max-width: 600px) {
  .inner-content,
  .inner-storie,
.inner-storie {
    padding: 0 10px;
  }
}
.blackHeader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  height: 68px;
  width: 100%;
  z-index: 200;
}
@media all and (max-width: 600px) {
  .blackHeader {
    height: 50px;
  }
}
.topNavigation {
  max-width: 660px;
  margin: 13px auto 0;
}
.topNavigation ul {
  margin: 0;
  padding: 0;
}
.topNavigation .menu-item {
  list-style: none;
  float: left;
  width: 33%;
  height: 68px;
  text-align: center;
}
@media all and (max-width: 600px) {
  .topNavigation .menu-item {
    height: 50px;
  }
}
.topNavigation .menu-item a {
  display: block;
  color: #fff;
  height: 55px;
  position: relative;
}
.topNavigation .menu-item a:hover {
  border: 0;
}
.topNavigation .menu-item .menu-img {
  vertical-align: bottom;
  margin-bottom: -1px;
}
@media all and (max-width: 600px) {
  .topNavigation .menu-item .menu-img {
    height: 11px;
  }
}
.topNavigation .menu-item .menu-logo {
  margin-left: -13px;
}
@media all and (max-width: 600px) {
  .topNavigation .menu-item .menu-logo {
    margin-left: -8px;
    height: 31px;
  }
}
.topNavigation .menu-item .active:after {
  content: ' ';
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -13px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 13px solid #111;
}
.neugierig {
  text-align: center;
  font-size: 4.5em;
  font-weight: 300;
  margin-top: 70px;
}
.neugierig strong {
  font-weight: normal;
  font-weight: 600;
}
@media all and (max-width: 600px) {
  .neugierig {
    margin-top: 30px;
  }
}
.contact {
  height: 2.5em;
  margin: 30px auto 60px;
  padding: 20px 0;
  border-top: 1px dotted;
}
@media all and (max-width: 600px) {
  .contact {
    padding-top: 7px;
    margin-bottom: 25px;
  }
}
.contact .wrapper {
  margin: 0 auto;
  width: 30em;
  max-width: 100%;
}
.contact .wrapper p {
  float: left;
  width: 10em;
  margin: 0 auto;
  vertical-align: top;
}
@media all and (max-width: 320px) {
  .contact .wrapper p {
    width: auto;
    margin-right: 15px;
  }
  .contact .wrapper p:last-child {
    margin-right: 0;
  }
}
.news-feed {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  min-height: 800px;
}
.news-feed .loading {
  display: inline-block;
  margin-top: 0;
  -webkit-animation: pulse 1s infinite;
  -moz-animation: pulse 1s infinite;
  -o-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}
.news-feed .load-200 {
  transition: 10s;
}
.news-feed .fb-post {
  margin-bottom: 60px;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  animation: fadeIn 3s;
}
@media all and (max-width: 600px) {
  .news-feed .fb-post {
    margin-bottom: 20px;
  }
}
.news-feed .fb-post a {
  display: block;
}
.news-feed .fb-post a:hover {
  border-bottom: 0;
}
.news-feed .fb-date {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0 0 10px;
}
.news-feed .photo .fb-picture {
  width: 100%;
  max-width: 880px;
  height: auto;
}
.news-feed .link a {
  background-color: rgba(0,0,0,0.02);
  font-size: 0;
  line-height: 0;
}
.news-feed .fb-message {
  margin-top: 10px;
}
@media all and (max-width: 600px) {
  .news-feed .fb-message {
    margin-top: 3px;
  }
}
.more-news-link {
  border-top: 1px dotted;
  padding-top: 20px;
  margin-top: 80px;
}
@media all and (max-width: 600px) {
  .more-news-link {
    margin-top: 30px;
    padding-top: 10px;
  }
}
.impressum {
  background-color: #eee;
  background-color: rgba(0,0,0,0.02);
  position: absolute;
  left: 0;
  margin-top: 50px;
  width: 100%;
  padding: 10px 0;
  font-size: 0.7em;
  color: #777;
  text-align: center;
}
@media all and (max-width: 600px) {
  .impressum {
    margin-top: 0;
  }
}
.stories-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.invalid,
.storie.invalid-up,
.storie.invalid-down,
.storie .storie-item.invalid-left {
  transition: top 0.5s, left 0.5s;
}
.storie {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  min-height: 650px;
  overflow: hidden;
  transition: top 1.2s;
}
.storie.up {
  top: -100%;
}
.storie.active {
  top: 0%;
}
.storie.down {
  top: 100%;
}
.storie.invalid-up {
  top: 100px;
}
.storie.invalid-down {
  top: -100px;
}
.storie .storie-title {
  font-size: 2em;
  position: absolute;
  color: #fff;
  text-shadow: 0 0 5px #000, 0 0 70px #000;
}
.storie .arrow {
  margin-top: 150px;
  width: 40px;
  height: 300px;
  display: block;
  cursor: pointer;
  background: url("../img/arrows.png") no-repeat right center;
  direction: ltr;
  text-indent: -9999px;
}
.storie .arrow:hover {
  border-bottom: 0;
}
.storie .arrow.prev {
  float: left;
}
.storie .arrow.next {
  background-position: left;
  float: right;
}
.storie .storie-text-wrapper {
  position: absolute;
  top: 560px;
  left: 0;
  width: 100%;
  padding: 0 40px;
}
@media all and (max-width: 600px) {
  .storie .storie-text-wrapper {
    padding: 0 20px;
  }
}
.storie .storie-text-wrapper .storie-text {
  display: block;
  background: url("../img/bg.jpg") #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px -2px #000;
  margin: 0;
  padding: 20px 40px;
  width: 100%;
}
.storie .storie-item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: left 1.2s ease-in-out;
  background-size: cover;
}
.storie .storie-item.left {
  left: -100%;
}
.storie .storie-item.active {
  left: 0%;
}
.storie .storie-item.right {
  left: 100%;
}
.storie .storie-item.invalid-left {
  left: 100px;
}
.storie .cover-image {
  height: 300px;
  display: block;
  margin: 200px auto;
}
.invalidSlide {
  transition: left 0.5s;
  left: 200px;
}
.inner-storie {
  position: relative;
  height: 100%;
}
