*
	box-sizing border-box

body
	color wuf-black
	font-size 19px
	background url(../img/bg.jpg)
	font-family 'Colaborate', sans-serif
	font-weight 300
	line-height 1.3em
	@media mobile
		font-size 12px

h1,
h2,
h3,
h3,
h5,
h6
	font-weight 300;

a
	color grey;
	text-decoration none;

a:hover
	border-bottom 1px solid grey;


.content
	width 100%; 
	height 100%; 
	position absolute;
	padding-top header-height;
.inner-content
	margin 0 auto;
	max-width page-width;
	padding 0 40px;
	@media mobile
		padding 0 10px 