@font-face
    font-family: 'Colaborate'
    font-weight: 600
    font-style: normal
    src: url('../fonts/ColabMed-webfont.eot')
    src: url('../fonts/ColabMed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabMed-webfont.woff') format('woff'),
         url('../fonts/ColabMed-webfont.ttf') format('truetype'),
         url('../fonts/ColabMed-webfont.svg#colaborate-mediumregular') format('svg')

@font-face
    font-family: 'Colaborate'
    font-weight: 400
    font-style: normal
    src: url('../fonts/ColabLig-webfont.eot')
    src: url('../fonts/ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabLig-webfont.woff') format('woff'),
         url('../fonts/ColabLig-webfont.ttf') format('truetype'),
         url('../fonts/ColabLig-webfont.svg#colaboratelightregular') format('svg')  

@font-face
    font-family: 'Colaborate'
    src: url('../fonts/ColabThi-webfont.eot')
    src: url('../fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabThi-webfont.woff') format('woff'),
         url('../fonts/ColabThi-webfont.ttf') format('truetype'),
         url('../fonts/ColabThi-webfont.svg#colaborate-thinregular') format('svg')
    font-weight: 300
    font-style: normal
